
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: Roboto,Arial,sans-serif;
}
.movieCard{
    width: 250px;
    height:450px;
    background-color: aliceblue;
    border:  solid 1px grey ;
    border-radius: 5%;
    padding: 15px;
    margin: 5px;
}

img{
    margin: auto;
    display: block;
    max-height: 300px;
}

h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;
    color: black;
}
span{
    font-size: 16px;
    font-weight: 900;
    color: black;
}
p{
    font-size: 12px;
}